body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='text'], input[type='number'],textarea.kapea,textarea.vikakuvaus {
    background: white;
    padding: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8pt;
    font-size: 9pt;
    color: black;
    border: 1px solid #642887;
    border-radius: 3px;
    margin-bottom: 3px;
}

input[type='text'], input[type='number'] {
    width: 100%;
    height: 20px;
}

textarea.kapea {
    height: 67px;
}

textarea.vikakuvaus {
    height: 160px;
}

input[type='text'].lyhyt {
    width: 20%;
}

textarea {
    position: relative;
    background-color: #e1e1e1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.8pt;
    font-size: 9pt;
    color: black;
    width: 100%;
    height: 5em;
    border: 1px solid #642887;
    border-radius: 3px;
    margin-bottom: 3px;
}

textarea.sms {
    width: 330px;
    height: 6em;
}

input[type='text'].sms {
    width: 330px;

}

select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
}

label {
    display: inline-block;
    background-color: #e1e1e1;
    padding: 4px 11px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 10px;
}

label:hover {
    background-color: #999999;
}

input[type="radio"]:checked + label {
    background-color: #642887;
    color: white;
    animation-name: sytytys;
    animation-duration: 0s;
}

@keyframes sytytys {
    0% {
        background-color: #e1e1e1;
        color: black;
    }
    100% {
        background-color: #642887;
        color: white;
    }
}

input[type="radio"] {
    display: none;
}

#lomake {
    min-width: 800px;
    width: 60%;
    float: left;
}


#vikaripohja {
    position: relative;
    top: 56px;
    width: 500px;

    margin-left: 60.5%;
    border: 1px dashed black;
}


#vakiopohjan_alku, #vakiopohjan_loppu, #lomakesisalto,#vikaripohja {
    background-color: lightblue;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
}

#vakiopohjan_loppu {
    position: relative;
    top: 56px;
    width: 500px;
    margin-left: 60.5%;
    border: 1px dashed black;

}

#vakiopohjan_alku {
    height: 30px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

h2:hover {
    cursor: pointer;
    background-color: cornflowerblue;
    border-radius: 3px;
}

.laajennus{
    min-height: 260px;
}

#alku_vasen {
    margin-left: 1%;
    width: 30%;
    float: left;
}

#alku_oikea {
    width: 67%;
    margin-left: 32%;
}

.koe {
    position: relative;
    margin-bottom: 1px;
    text-align: center;
    width: 80%;
    left: 10%;
}


#toimintaohje, #toimintaohje2, #toimintaohje3, #toimintaohje4, #toimintaohje5, #toimintaohje6, #toimintaohje7, #toimintaohje8, #toimintaohje9 {
    position: relative;
    left: 25%;
    width: 50%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #642887;
    background-color: white;
    color: black;
    font-size: 10pt;
    font-family: Calibri;
}

#testidivi {
    position: relative;
    top: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: #b4f5ff;
    border: 1px solid black;
    font-size: 10pt;
    font-family: Calibri;
    text-align: left;
}

textarea.toimintaohje {
    width: 100%;
    left: 0px;
    border: 0px;
    text-align: center;
    background: none;
}

textarea.asiakasinfo {
    width: 100%;
    height: 200px;
    margin-left: 10px;
    border: 0px;
    text-align: left;
    background: none;
    padding: 5px 20px 5px 5px;
    margin-bottom: 1px;
    border-radius: 3px;
    color: black;
    font-size: 10pt;
    font-family: Calibri;
}

.generoitu {
    height: 18em;
    background-color: white;
    border: 1px dashed #642887;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 3px;
    color: black;
    font-size: 10pt;
    font-family: Calibri;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    width: 100px;
    padding: 5px;
    font-family: Calibri;
    border: 1px solid black;
    margin-bottom: 1px;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #00a2e2;
    color: white;

}

h2 {
    padding-left: 10px;
    font-size: 12pt;
    font-family: Calibri;
    margin-top: 5px;
}

h3 {
    margin-top: 0px;
}

.alusta {
    background: indianred;
    color: white;
}
.vihrea {
     background: lightgreen;
 }