@font-face {
    font-family: Pebble;
    src: url('../layout/pebble.ttf');
}
@font-face {
    font-family: "Helvetica Neue";
    src: url('../layout/HelveticaNeue.ttf');
}

body {
    font-size: 8pt;
    margin: 0;
    text-align: left;
}


table, td, tr, th{
    border: 1px solid black;
    font-family: "Helvetica Neue";
    font-size: 8pt;
    text-align: center;
    padding: 3px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='text'], input[type='number'],textarea.kapea,textarea.vikakuvaus {
    background: white;
    padding: 3px;
    font-family: "Helvetica Neue";
    letter-spacing: 0.8pt;
    font-size: 9pt;
    color: black;
    border: 1px solid #642887;
    border-radius: 3px;
    margin-bottom: 3px;
}

input[type='text'], input[type='number'] {
    width: 100%;
    height: 20px;
}

textarea.kapea {
    height: 67px;
}

textarea.vikakuvaus {
    height: 168px;
}

input[type='text'].lyhyt {
    width: 20%;
}

textarea {
    position: relative;
    background-color: #e1e1e1;
    font-family: "Helvetica Neue";
    letter-spacing: 0.8pt;
    font-size: 9pt;
    color: black;
    width: 100%;
    height: 5em;
    border: 1px solid #642887;
    border-radius: 3px;
    margin-bottom: 3px;
}

textarea.sms {
    width: 330px;
    height: 6em;
}

input[type='text'].sms {
    width: 330px;

}

select {
    font-family: "Helvetica Neue";
    font-size: 8pt;
}

label {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 4px 11px;
    border: 2px solid #990AE3;
    border-radius: 999px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #990AE3;
    font-family: "Helvetica Neue";
}

label:hover {
    background-color: #990AE3;
    color: white;
}

input[type="radio"]:checked + label {
    background-color: #990AE3;
    color: white;
    animation-name: sytytys;
    animation-duration: 0s;
}

@keyframes sytytys {
    0% {
        background-color: #f2f2f2;
        color: black;
    }
    100% {
        background-color: #990AE3;
        color: white;
    }
}

input[type="radio"] {
    display: none;
}

#lomake {
    width: 100%;
}

#vakiopohjan_alku, #vakiopohjan_loppu, #lomakesisalto,#vikaripohja {
    background-color: #f2f2f2;
    padding-left: 1%;
}

#vakiopohjan_loppu {
    padding-top: 10px;
    width: 49%;
    float: left;
    position: relative;
    height: 350px;
}

#vikaripohja {
    padding-top: 10px;
    position: relative;
    float: right;
    width: 49%;
    height: 350px;
}

#vakiopohjan_alku {
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}

.laajennus{
    height: 30px;
}

#alku_vasen {
    width: 30%;
    float: left;
}

#alku_oikea {
    width: 67%;
    margin-left: 32%;
}

.koe {
    position: relative;
    margin-bottom: 1px;
    text-align: left;
    width: 100%;
}

#toimintaohje, #toimintaohje2, #toimintaohje3, #toimintaohje4, #toimintaohje5, #toimintaohje6, #toimintaohje7, #toimintaohje8, #toimintaohje9 {
    top: 5px;
    padding: 5px;
    width: 99%;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 10pt;
    font-family: "Helvetica Neue";
    text-align: left;
    background-color: lightblue;
    color: black;
}

#testidivi {
    top: 5px;
    padding: 5px;
    width: 99%;
    min-height: 55px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 10pt;
    font-family: "Helvetica Neue";
    text-align: left;
    background-color: lightgrey;
    color: black;
}

#testidivi.ohje{
    background-color: red;
}

#testidivi.huomio{
    background-color: lightgrey;
}


li {
    font-size: 10pt;
    font-family: "Helvetica Neue";

}

svg.huomautus{
    float: lefT;
    margin: 5px 10px 10px 10px;
}

textarea.toimintaohje {
    width: 100%;
    left: 0px;
    border: 0px;
    text-align: left;
    background: none;
}

textarea.asiakasinfo {
    width: 100%;
    min-height: 100%;
    margin-left: 10px;
    border: 0;
    text-align: left;
    background: none;
    padding: 5px 20px 5px 5px;
    margin-bottom: 1px;
    border-radius: 3px;
    color: black;
    font-size: 8pt;
    font-family: "Helvetica Neue";
}

.generoitu {
    height: 70%;
    padding: 5px;
    margin-bottom: 1px;
    color: black;
    font-size: 8pt;
    font-family: "Helvetica Neue";
    border: 0;
    background-color: white;
    width: 98%;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 5px;
    font-family: "Helvetica Neue";
    margin-bottom: 1px;
    border: 2px solid #990AE3;
    border-radius: 999px;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: red;
    color: white;

}

h2 {
    font-size: 12pt;
    font-family: Pebble;margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


h2:hover {
    cursor: pointer;
    background-color: lightgrey;
}


h3 {
    font-size: 10pt;
    font-family: Pebble;
    margin-top: 10px;
    margin-bottom: 10px;

}

#ikoni {
    position: relative;
    right: 10px;
    float: right;
    text-align: right;
    top: -25px;
}